body{
    background-image: url(../resources/bg.jpg);
    width: 100vw;
    height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

#wrapper {
    padding-top: 100px;
    background-color: rgba(0, 0, 0, 0.342);
    width: 100vw;
    height: 88vh;
    align-content: center;
  }

 
  @media (max-width: 600px){
    #buttonai{
        display: flex;
        overflow: hidden;
        flex-direction: column;
        margin-left: 10px;
        margin-right: 10px;
    }
  }

